body {  
    color:rgb(27, 26, 25);  
    
    h2 {  
        color:rgba(118, 71, 6, 0.733);  
    }
    h1 {  
        color:rgba(76, 54, 5, 0.753);  
    }
    h4 {  
        color:rgba(63, 8, 4, 0.733);  
    }
}
